.payment-header {
  margin-bottom: 20px;

  .secure-tag {
    position: relative;
    left: 30px;
    font-size: 14px;
    color: #333333;
  }
}

.paymentFields {
  form {
    margin-top: 0px;
  }
}


.contribution-container {
  .form {
    margin-top: 0px;
  }
}

.link-green {
  font-weight: bold;
  color: $c5;
}

.circle-steps {
  padding: 16px 0px;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  text-align: center;
  flex: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px; //temp hack
  background-color: $secondaryBG;
}

.challenge-flex-container {
  display:flex;
  flex-direction:column;
  text-align:left;
  font-size:18px;
  font-weight:300;

  .challenge-step {
    display: flex;
    align-items: center;
    margin-bottom:10px;
  }
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}
@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@-webkit-keyframes colors {
  0% {
    stroke: #000000;
  }
  25% {
    stroke: #000000;
  }
  50% {
    stroke: #000000;
  }
  75% {
    stroke: #000000;
  }
  100% {
    stroke: #000000;
  }
}
@keyframes colors {
  0% {
    stroke: #000000;
  }
  25% {
    stroke: #000000;
  }
  50% {
    stroke: #000000;
  }
  75% {
    stroke: #000000;
  }
  100% {
    stroke: #000000;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@media(max-width:$tabletWidth) {
  .contribution-container {
    padding-left: 0px;
    padding-right: 0px;

    .form {
      margin-top: 20px;
      border-radius: 0px;
    }
  }

  .paymentFields {
    padding-left: 0px;
    padding-right: 0px;

    form {
      border-radius: 0px;
      padding: 20px;
    }
  }
}