

$white: #fff;
$dark: #000;
$c1: #2c3e50; //darkslategray
$c2: #038386; //teal
$c3: #ecf0f1; //light
$c4: #358286; //blue
$c5: #1abc9c; //turqouise
$secondaryBG: rgba(243, 156, 18, 0.27);

$radiusSize: 5px;

$tabletWidth: 768px; //sm
$desktopWidth: 992px; //md
$lgWidth: 1200px; //lg

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
};

@import 'payments';
@import 'receipts';

/*spacers*/

.margin-top-20{
margin-top: 20px;
}

.margin-bottom-negative{
margin-bottom: -20px;
}

.align-children>*{
margin-top: 0;
padding-top: 0;
}

.margin-bottom-20{
margin-bottom: 20px;
}

.sometimes-pad{
padding:0px;
}

.no-pad{padding:0px;}

.stats {
  margin-bottom: 0px;
}

/* general styles */

body{
font-family: 'Open Sans', sans-serif;
    background-color: $white;
    color: $dark;
}

html, body{
  height: 100%;
  width:100%;
}

body>div{
max-width:100%;
// overflow-x:hidden;
}

h1 {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 30px;
}

p {
  font-size: 14px;
  font-weight: 300;
}

/*header and footer*/

.referer h3{
margin-top: 20px;
margin-bottom: 20px;
font-size: 20px;
color: $white;
}

.flare{
background-color: $c2;
height: 20px;
}

.referer{
  background-color: $c1;
  text-align: center;
  position: absolute;
  top: 0px;
}

.has-referrer {
  margin-top: 60px;
}

.cause{font-size: 25px;
font-weight: bold;}

nav.campaign{
	.text-center{
		padding-left:16%;
	}
}

.plus{
	display:none;
}

.logo-multiply{
background: url('../images/m.png');
display:inline-block;  
width: 50px;
height: 25px;
background-size: contain;
background-repeat: no-repeat;
margin-top: 20px;
margin-bottom: -20px;
}

.logo-partner{
width: 0px;
background-size: contain;
background-repeat: no-repeat;
margin-bottom: -20px;
}

.main .logo-partner{
margin-right: 50px;
}

.no-wrap{
white-space: nowrap;
margin-top: 20px;
}


footer {
  margin-top: 20px;
  padding-bottom: 20px;
	background-color: $c3;
	font-size:14px;
	.logo-full{
	background: url('../images/multiplyMeDark.png');
	width: 200px;
	background-repeat: no-repeat;
	background-size:contain;
	height:40px;
	}
	a, label{display:block;
	color: $dark;
	}
	label{
	font-weight:bold;
	margin-bottom: 12px;
	clear: both;
	padding-top: 20px;
	}
	a:hover{
	}
	input{
  	padding: 10px;
    border-radius: 12px;
    border: 1px solid teal;
    width:250px;
    max-width: 70%;
  }
}
.container.primary{
background-color: $white;
border-radius: 0 0 18px 18px;
border-top: 5px solid $c2;
padding-bottom: 20px;
}
body{
background-color: $c3;
}

.col-lg-inset{
padding: 1% 25px;
}



/*main page*/

.embed-container
{
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
	width:100%;
	margin-bottom:15px;
	
	iframe, object, embed
	{	position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


.details{
	h2 {
	font-weight: bold;
	font-size: 24px;
	margin-top: 0px;
	}
	p {
	font-size: 18px;
	}
}

.suggested{
.perks, .action-header{
margin: 20px 1% 0 8%;
}
.perks{
background-color: $c3;
padding: 20px 20px;
border-radius:12px;
color: $dark;
h3{font-weight:bold;
margin-top: 5px;}
}

a:hover{
text-decoration:none;
}
}

.perks:hover, label.perks:hover{
background-color: $c5;
}
.col-xs-full{
	margin-left:-40px;
	margin-right: -40px;
}

.campaign-content{
	font-size: 18px;
	h2{
		font-size:20px;
		font-weight:bold;
	}
	.nav-tabs {
		border-color:$c4;
		font-size: 15px;
		font-weight: bold;
		border-bottom: 5px solid $c4;
	//	margin-right:20px;
			li{
				margin-bottom: -2px;
				a{ 
					padding: 10px 10px;
					color: $dark
				}
				a:hover{
					padding-bottom:8px;
					background-color: $c3;
					border-color: $c3;
					border-radius: 12px 12px 0 0;
					color: $dark;
				}
			}
		}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		background-color:$c4;
		border:0 transparent;
		color: $white;
		border-bottom-color: transparent;
		border-radius: 12px 12px 0 0;
		padding-bottom:10px;
	}
}

/***** buttons  ******/

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active{
background-color: $c1;

}

.sign-in, .ask{
color: $c5;
border: 3px solid $c5;
@include border-radius(6px);
font-size: 18px;
padding: 3px 8px;
}

.sign-in {
//  position: absolute;
  right: 15px;
  font-weight:bold;
//  margin-top:20px;
}

footer .btn{
  border-radius: 10px;
  padding: 8px;
  margin-top: -3px;
}



.btn-primary, .login-btn{
  font-size: 18px;
  border-radius: 12px;
  padding: 10px;
  color: white;
  background-color:$c5;
  background-color:$c5;
  border-color: $c5;
}

.login-box {
  margin-bottom: 20px;
}

@media(max-width:$tabletWidth) {
  .login-box {
    margin-top: 30px;
  }
}

.btn-primary{
  margin: 10px 8% 0px 8%;
  width: 84%;
  font-size:22px;
}

.btn-primary:hover, 
.btn-primary:focus, 
.login-btn:focus, 
.login-btn:hover,
.btn-green:hover, 
.btn-green:focus {
  background-color: $c2;
  border-color: $c2;
  color: white;
}

.btn-green {
  padding: 10px;
  color: white;
  background-color:$c5;
  background-color:$c5;
  border-color: $c5;
}

.btn.sign-in, .btn.ask{
color: $c5;
border: 3px solid $c5;
@include border-radius(6px);
font-size: 18px;
padding: 3px 8px;
background-color: white;
}

.btn.sign-in {
  position: absolute;
  right: 0px;
}

.link-btn{
color: $c5;
font-size: 14px;
padding: 6px 8px;
text-align: center;
font-weight:bold;
margin-top: 10px;
}


.btn .lead-in{
font-size: 14px;
font-weight: bold;
}

.btn.uniform{
padding: 6px;
}
/******  donation flow   ******/
.step, .round{
display: inline-block;
  color: white;
  font-weight: bold;
  margin: 12px;
  padding: 8px 0;
  font-size: 17px;
  height: 40px;
  border-radius: 20px;
  width: 40px;
background-color: $c5;
}


.step.active{
background-color: $c2;
}


.sign-in, .ask{
  color: $c5;
  border: 3px solid $c5;
  @include border-radius(6px);
  font-size: 12px;
  padding: 3px 8px;
}

.sign-in {
  position: absolute;
  right: 0px;
}

.round{
	background-color: $c3;
	color: $dark;
}

nav.campaign .text-center{padding-left: 0}

.form{
background-color: $secondaryBG;
padding: 25px;
width: 100%;
border-radius: 12px;
margin-top:20px;
 
 .form-pledge{
	border-radius: 12px;
	padding: 5px;
	border: 1px solid $dark;
	background-color: $white;
	position:relative;
	// span{
		// position:absolute;
		// top:10px;
	// }
	 .currency-label{
    float: right;
    padding-right: 8px;
	 }
	// .currency-sympbol{
		// left:10px;
	// }
	input{
  width: 40%;
  margin-left: 15px;
 border: none 0px transparent;
	}
 }
 .checkbox input[type="checkbox"]{
  width: 20px;
  height: 20px;
  background-color: white;
  margin-left: -30px;
 }
 .checkbox label{
  padding-left: 30px;
 }
 span{
 font-size: 14px;
 }
}

h4.hidden-lg{
margin-top: 30px
}

span.hidden-lg{
font-size:14px;
}

.hidden-lg, .inset{
 padding:0 20px;
}



label.perks{
display:block;
background-color: $c3;
border-radius: 12px;
margin:20px;
  padding:20px;
  h3{
  font-weight: bold;
  margin-top: 5px;
  }
  span{font-weight:normal;}
}

label.perks.ng-scope.perk-selected{
	background-color: $c2;
	color: white;
	.fa{
		float:right;
		margin-top: -35px;
		font-size: 20px;
	}
}

a.btn-primary.hidden-xs{
margin-bottom: 30px;
width:50%;
font-size: 16px;
}

.perk-promo{
display:block;
background-color: $c5;
color:white;
border-radius: 12px;
margin:20px;
  padding:20px;
	.btn{width: 45%;
		background-color:transparent;
	}
}

.table{
    display: table;
    vertical-align: middle;}

.cell{
    display: table-cell;
    vertical-align: middle;
	width: 70%;}

.hide-overflow{
overflow: hidden;
}

mm-steps .row{
padding-top: 20px;
}

@media (min-width: 500px) {
.logo-partner{
background: url('../images/backonmyfeet.jpg');
display:inline-block;  
width: 200px;
height: 50px;
    margin-bottom: -20px;
    background-size: contain;
    background-repeat: no-repeat;
margin-top: 0px;
	}
	
	
mm-steps .row{
padding-top: 0px;
}
	
.btn.sign-in{
margin-top:20px;
right: 15px;
}
	
.logo-multiply{
margin-bottom: 0;
}
	
.form .form-pledge input{
width: 70%;
}

.plus{
	font-size: 35px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  display: initial;
}

.nav-tabs {
	font-size: 18px;
	a{
	padding: 15px;
	}}
}

/* Small devices (tablets, 768px and up)  */
@media (min-width: $tabletWidth) {

	.suggested{
.perks, .action-header{
margin-left: 0;
margin-right: 0;
}}
footer>:last-child{
// margin-top: -40px;
  label{
  padding-top: 0px;
  clear:none;
  }
}
.nav-tabs {
	font-size: 20px;
	a{
	padding: 10px;
	}}

.col-xs-full{
	margin-left:-40px;
	margin-right: -40px;
}

.referer h3{
font-size: 20px;
}
	.cause{
	font-size: 30px;
	margin-bottom: 30px;
	}
	
	.campaign{
	padding-bottom: 20px;
	}
	
	.logo-multiply{
	background: url('../images/multiplyMeDark.png');
	width: 175px;
  height: 32.2px;
  margin-bottom: 0px;
	background-repeat: no-repeat;
	background-size:contain;
	}
	
	
.logo-partner{
  margin-bottom: -20px;
  background-size: contain;
  background-repeat: no-repeat;
}
	
	.plus{
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: normal;
	}
	
	.btn.sign-in, .btn.ask{
  	padding:6px 30px;
  	font-size: 14px;
  	border-radius: 10px;
	}
	
	.btn.sign-in:hover, .btn.ask:hover{
	background-color: $c3;
	color: $c2;
	}
	
	.btn.ask{
	font-weight: bold;
	}

  .btn.sign-in {
 //   position: absolute;
    right: 25px;
  }
	
	.details{
		h2 {
		font-weight: normal;
		font-size: 40px;
		
		}
		p {
		font-size: 22px;
		// font-weight:bold;
		}
	}
	
	
	.btn.btn-primary{
	  padding: 20px;
	}
	
	.cause{font-weight:normal;}
	
	
	/*donation flow*/
.step, .round{
  padding: 21px 0;
  font-size: 20px;
  height: 70px;
  width: 70px;
  border-radius: 35px;}

}

/* Medium devices (desktops, 992px and up)*/ 
@media (min-width: $desktopWidth) 
{ 	
.col-xs-full{
	margin-right: 0px;
}
	footer>:last-child{
	margin-top: 0px
	}

	.plus{
	// font-size: 72px;
	}
	
	.sometimes-pad{
	padding-left: 2%;
	}

	.btn-primary{
	margin-left: 15px;
	}
	
	.details{
		.row{text-align:left;}
		.no-pad{padding: 10px;}
		h2 {
		margin-top: 20px;
		}
	/*	p {
		font-size: 30px;
		font-weight:normal;
		}*/
	}
}

/*Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
.col-xs-full{
	margin-left: 0px;
} }


.team-profile {
  text-align: center;
  margin-top: 10px;

  div {
    font-weight: 300;
  }

  .fa {
    font-size: 20px;
  }

  strong {
    display: block;
  }
}

.padding-bottom {
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

.impact-container {
  text-align: center;

  span {
    font-size: 16px;
    font-weight: 300;
  }

  .impact-box {
    width: 100%;
    height: 160px;
    background-color: $secondaryBG;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
  }

  .impact-amount {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.impact-operand {
  font-size: 50px;
  line-height: 200px;
  text-align: center;
}

@media(max-width: $tabletWidth) {
  .impact-operand {
    line-height: 100px;
  }

  .impact-container .impact-box {
    height: 100px;
  }

  footer {
    .nav-links {
      margin-top: 10px;
    }
  }

  .campaign-content {
    padding-left: 0px;
    padding-right: 0px;
  }

}


.display-block {
  display: block
}

.share-container-background {
  background-color: $secondaryBG;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;

  .fa-bullhorn {
    font-size: 65px;
    color: #038386;
    padding: 20px;
  }

  .share-link {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    word-wrap: break-word;
  }

  .form-control {
    display: inline;
    height: 25px;
    width: 30%;
    margin-left: 10px;
    text-align: center;
  }

  .fa {
    margin-right: 5px;
  }

  .social-share {
    margin-top: 20px;
  }
}

.btn-facebook {
  background-color: #3B5998;
  color: white;
}

.btn-twitter {
  background-color: #4099FF;
  color: white;
}

.btn-comment {
  background-color: #0BD318;
  color: white;
  border-color: rgba(0,0,0,0.2);
}

.btn-comment:hover, 
.btn-comment:focus, 
.btn-comment:active, 
.btn-comment.active, 
.open>.dropdown-toggle.btn-comment {
  color: white;
  background-color: #099C13;
  border-color: rgba(0,0,0,0.2);
}

.misc-container {
  padding-top: 20px;
  text-align: center;
}

.row-center > div {
  display: inline-block;
  float: none;
}

.row-center-hack {
  margin-left: 4%;
}

@media(max-width: $tabletWidth) {
  .label-challenge {
    text-align: center;
  }

  .share-container-background {

    .fa-container,
    .social-share {
      text-align: center;
    }
  }

  .share-container {
    padding: 0px;

    div:first-child {
      padding: 0px;
    }
  }

  .btn-green {
    display: block;
    margin-top: 5px;
  }

  .row-center-hack {
    margin-left: inherit;
  }

}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.how-container {
  font-weight: 300;
  font-size: 22px;
  height: 80px;

  .fa {
    font-size: 80px;
  }

  .fa-facebook-square {
    color: #3B5998;
  }

  .fa-envelope-square {
    color: #333333;
  }

  .fa-twitter-square {
    color: #4099FF;
  }

  .fa-facebook-square,
  .fa-envelope-square,
  .fa-twitter-square {
    margin-right: 10px;
  }

  div {
    margin-bottom: 20px;
  }

  .single-row {
    line-height: 80px;
  }
}

@media(max-width:$desktopWidth) {
  .how-container {
    .col-sm-12 {
      text-align: center;
    }

    .step-two,
    .step-three {
      margin-top: 20px;
    }

    div {
      margin-bottom: 0px;
    }
  }
}

.prompt-container {
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 100;
  color: black;
  background-color: $secondaryBG;


  .prompt {
    line-height: 76px;

    img {
      margin-right: 20px;
    }

    span {
      vertical-align: middle;
      display: inline-block;
      line-height: 1.3;
    }
  }
}

.container-terms {
  word-wrap: break-word;
}


.div-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.challenge-info {
  background-color: $secondaryBG;
  border-radius: 7px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;

  h2 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .challenge-status {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .challenge-action {
    text-align: center;
  }

  .btn-success {
    margin-top: 10px;
  }
}

.middle-donor {
  margin-left: 10%;
  margin-right: 10%;
}

.pyramid {
  margin-bottom: 10px;
}

.img-profile-labels {
  margin-top: 5px;
  
  span {
    width: 100px;
    text-align: center;
  }

  span:nth-child(2) {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.challenge-stats {
  position: relative;

  .btn-more {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

@media(max-width:$tabletWidth) {
  .challenge-info {
    border-radius: 0px;
    text-align: center;

    .challenge-action {
      margin-top: 30px;
    }
  }

  .img-profile {
    height: 80px;
  }

  .img-profile-labels {
    span {
      width: 80px;
    }
  }

  .pyramid {
    max-width: 70%;
  }
}

.stat-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;

  .statistic {
    width: 150px;
    align-self: flex-end;
    text-align: center;

    .impact-box {
      height: 100px;
      background-color: $secondaryBG;
      border-radius: 5px;
      position: relative;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: bold;
    }
  }

  .operand {
    margin-top: 50px;
    align-self: center;
    font-size: 30px;
    font-weight: bold;
  }
}

@media(max-width:$lgWidth) {
  .stat-container {
    padding-left: 15px;
    padding-right: 15px;

    .statistic {
      width: 100px;

      .impact-box {
        height: 75px;
        font-size: 25px;
      }
    }
  }
}

.pyramid-four {
  .img-profile {
    margin-left: 5%;
  }

  .img-profile-labels span {
    margin-left: 5%;
    margin-right: 0px;
  }

  .img-profile:nth-child(1),
  .img-profile-labels span:nth-child(1) {
    margin-left: 0px;
  }
}

@media(max-width:$tabletWidth) {
  .stat-container {
    padding-left: 15px;
    padding-right: 15px;

    .statistic {
      width: 75px;

      .impact-box {
        height: 50px;
        font-size: 20px;
      }
    }
  } 
}

@media(max-width:400px) {
  .pyramid-four {
    .img-profile {
      height: 60px;
    }

    .img-profile-labels {
      span {
        width: 60px;
      }
    }
  }
}

.btn-success {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: white;
}

.btn-success:hover, 
.btn-success:focus {
  background-color: #038386;
  border-color: #038386;
}

.btn-success.disabled, 
.btn-success[disabled], 
fieldset[disabled] .btn-success, 
.btn-success.disabled:hover, 
.btn-success[disabled]:hover, 
fieldset[disabled] .btn-success:hover, 
.btn-success.disabled:focus, 
.btn-success[disabled]:focus, 
fieldset[disabled] .btn-success:focus, 
.btn-success.disabled.focus, 
.btn-success[disabled].focus, 
fieldset[disabled] .btn-success.focus, 
.btn-success.disabled:active, 
.btn-success[disabled]:active, 
fieldset[disabled] .btn-success:active, 
.btn-success.disabled.active, 
.btn-success[disabled].active, 
fieldset[disabled] .btn-success.active {
  background-color: #008080;
  border-color: #008080;
}

.btn-default {
  color: #1abc9c;
  border-color: #1abc9c;
  border-width: 2px;
  padding: 4px 10px;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: white;
}

.why-container {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ECF0F1;

  .fa {
    display: block;
    font-size: 70px;
    text-align: center;
    margin-bottom: 10px;
  }

  .fa-bullhorn {
    color: #D35400;
  }

  .fa-line-chart {
    color: #27AE60;
  }

  .fa-sitemap {
    color: #2980B9;
  }

  .fa-life-ring {
    color: #F39C12;
  }

  strong {
    font-size: 17px;
  }
}

.why-topic {
  margin-bottom: 50px;
}

.works-container {
  margin-bottom: 20px;
}

@media(max-width:$desktopWidth) {
  .why-container {
    margin-top: 20px;
  }

  .works-container {
    margin-bottom: 0px;

    h1 {
      margin-bottom: 0px;
    }
  }
}

.how-container {
  .fa-pledge,
  .fa-donation {
    color: #358286;
    font-size: 80px;
    position: relative;
  }

  .fa-pledge:after {
    content: "\f023";
    color: black;
    font-size: 60px;
    position: absolute;
    right: -10px;
    bottom: -5px;
  }

  .fa-calendar-o {
    color: #C0392B;
  }

  .fa-donation:after {
    content: "\f13e";
    color: black;
    font-size: 60px;
    position: absolute;
    right: -10px;
    bottom: -5px;
  }

  .fa-users {
    color: #3B5998;
  }
}

.step-three {
  .operand {
    font-size: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .fa-calendar-3 {
    position: relative;
  }

  .fa-calendar-3:after {
    content: "3";
    font-size: 30px;
    position: absolute;
    top: 45%;
    left: 38%;
  }
}

@media(max-width:$tabletWidth) {
  .step-three {
    .operand {
      font-size: 40px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.container-fluid {
  .form-horizontal {
    margin-top: 20px;
  }
}

.btn-continue {
  margin-right: 20px;
}

.pledge.content{
  .btn-success {
    margin-top: 10px;
  }
}