$white: #fff;
$dark: #000;
$c1: #2c3e50; //darkslategray
$c2: #038386; //teal
$c3: #ecf0f1; //light
$c4: #358286; //blue
$c5: #1abc9c; //turqouise

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
};

body{
font-family: 'Open Sans', sans-serif;
    background-color: $white;
    color: $dark;
}

.sometimes-pad{
padding:0px;
}

html, body{
  height: 100%;
  width:100%;
}

body>div{
max-width:100%;
overflow-x:hidden;
}

.referer h3{
margin-top: 20px;
margin-bottom: 30px;
font-size: 20px;
color: $white;
}

.flare{
background-color: $c2;
height: 12px;
}

.referer{
background-color: $c1;
text-align: center;
}

h1 {margin-bottom: 20px;}

.cause{font-size: 28px;
font-weight: bold;}

nav.campaign{
margin-top:20px;
margin-right:10px;
	.text-center{
		padding-left:16%;
	}
}

.sign-in, .ask{
color: $c5;
border: 3px solid $c5;
@include border-radius(6px);
font-size: 18px;
padding: 3px 8px;

}

.plus{
	font-size: 35px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.logo-multiply{
background: url('../images/m.png');
display:inline-block;  
width: 50px;
height: 25px;
background-size: contain;
background-repeat: no-repeat;
}

.logo-partner{
background: url('../images/welllogo.png');
display:inline-block;  
width: 50px;
height: 42px;
background-size: contain;
background-repeat: no-repeat;
margin-bottom: -8px;

}


.embed-container
{
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
	width:100%;
	margin-bottom:15px;
	
	iframe, object, embed
	{	position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.no-pad{padding:0px;}

.details{
	h2 {
	font-weight: bold;
	font-size: 24px;
	}
	p {
	font-size: 18px;
	}
}

.btn-primary{
    font-size: 22px;
  margin: 10px 8% 0px 8%;
  width: 84%;
  border-radius: 12px;
  padding: 10px;
  background-color:$c5;
  background-color:$c5;
  border-color: $c5;
}

.btn-primary:hover, .btn-primary:focus{
background-color: c2;
border-color: c2;
}

.suggested{
.perks, .action-header{
margin: 20px 1% 0 8%;
}
.perks{
background-color: $c3;
padding: 20px 10px;
border-radius:12px;
color: $dark;
h3{font-weight:bold;
margin-top: 5px;}
}
a:hover{
text-decoration:none;
}
}

.content{
	font-size: 18px;
	h2{
		font-size:20px;
		font-weight:bold;
	}
	.nav-tabs {
		border-color:$c4;
		font-size: 20px;
		font-weight: bold;
		border-bottom: 5px solid $c4;
		margin-right:20px;
			li{
				margin-bottom: -2px;
				a{ 
					padding: 10px 20px;
					color: $dark
				}
				a:hover{
					padding-bottom:8px;
					background-color: $c3;
					border-color: $c3;
					border-radius: 12px 12px 0 0;
					color: $dark;
				}
			}
		}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		background-color:$c4;
		border:0 transparent;
		color: $white;
		border-bottom-color: transparent;
		border-radius: 12px 12px 0 0;
		padding-bottom:10px;
	}
}
footer {
	background-color: $c3;
	font-size:16px;
	.logo-full{
	background: url('../images/multiplyMeDark.png');
	width: 200px;
	background-repeat: no-repeat;
	background-size:contain;
	height:40px;
	}
	a, label{display:block;
	color: $dark;
	}
	label{
	font-weight:bold;
	margin-bottom: 12px;
	clear: both;
	padding-top: 20px;
	}
	a:hover{
	}
	input{
	padding: 10px;
  border-radius: 12px;
  border: 1px solid teal;
  width:250px;
  }
  .btn{
  border-radius: 10px;
  padding: 8px;
  margin-top: -3px;
  background-color: teal;
  color: white;}
  
}
.container{
background-color: $white;
border-radius: 0 0 18px 18px;
}
body{
background-color: $c3;
}

.col-lg-inset{
padding: 1% 4%;
}

/* Small devices (tablets, 768px and up)  */
@media (min-width: 768px) {

	.suggested{
.perks, .action-header{
margin-left: 0;
margin-right: 0;
}}
footer>:last-child{
margin-top: -40px;
label{
padding-top: 0px;
clear:none;
}
}

.referer h3{
font-size: 24px;
}
	.cause{
	font-size: 45px;
	margin-bottom: 30px;
	}
	
	.campaign{
	padding-bottom: 20px;
	}
	
	.logo-multiply{
	background: url('../images/multiplyMeDark.png');
	width: 250px;
	background-repeat: no-repeat;
	background-size:contain;
	height:46px
	}
	
	
.logo-partner{
width: 115px;
height: 100px;
margin-bottom: -28px;
background-size: contain;
background-repeat: no-repeat;

}
	
	.plus{
  font-size: 60px;
  margin-left: 60px;
  margin-right: 60px;
  font-weight:normal;
	}
	
	.sign-in, .ask{
	padding:6px 30px;
	font-size: 20px;
	border-radius: 10px;
	}
	
	.details{
		h2 {
		font-weight: normal;
		font-size: 40px;
		}
		p {
		font-size: 22px;
		font-weight:bold;
		}
	}
	
	
	.btn-primary{
	  padding: 20px;
	}
	
	nav.campaign .text-center{padding-left: 7%;}
	
	.cause{font-weight:normal;}
	

}

/* Medium devices (desktops, 992px and up)*/ 
@media (min-width: 992px) { 

	
footer>:last-child{
margin-top: 0px
}

	.plus{
  font-size: 72px;
	}
	
.sometimes-pad{
padding-left: 2%;
}

.btn-primary{
margin-left: 15px;
}
	
		.details{
		.row{text-align:left;}
		.no-pad{padding: 10px;}
		
	/*	h2 {
		font-size: 50px;
		}
		p {
		font-size: 30px;
		font-weight:normal;
		}*/
	}
	
 }

/* Large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) {  }*/
