html, body {
  width: 100%;
  height: 100%;
}
.bg-gray{
  background-color: rgb(118,118,118);
}

.rounded-background {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}

.light-gray-background {
  background-color: rgb(227,227,227);
}
.green-color{
  color: rgb(46,148,131);
}
.login-box{
  margin-top: 100px;

}
.login-btn{
  margin-top: 40px;
}
/*
#loginForm input.ng-invalid {
  border: 1px solid red;
}
#loginForm input.ng-valid {
  border: 1px solid green;
}
*/
