


h1.headline {
    font-size: 60px;
}

.container-fluid {
    max-width:1200px;
}

.main {
    padding-left:50px;
}

.number {
    font-size:50px;
    border: solid 3px #428bca;
    border-radius: 15px;
}

.numberContent {
    margin-top:7px;
    font-size:18px;
}

.step {
    padding-top:20px;
    padding-bottom:20px;
}

.intro {
    margin-top:30px;
}

.callToAction {
    margin-top:20px;
}

.splash {
    background-image: url(../../../assets/images/splash.jpg);
    width:100%;
    max-width:500px;
    height:100%;
    background-size:cover;
}