<div class="container primary">
  <mm-header has-sign-out="true"></mm-header>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <h1 class="text-center">Welcome {{name}}</h1>
    </div>
  </div>
  <div class="row row-center-hack">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 impact-container">
        <span>Your Donation</span>
        <div class="impact-box">
          <span class="impact-amount">
            {{personal_impact | currency}}
            <div class="month-label" ng-show="only_recurring && !all_cancelled">per month</div>
          </span>
        </div>
      </div>
    <div class="col-md-1 col-sm-1 col-xs-12 impact-operand">+</div>
    <div class="col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 impact-container">
      <span>Your Network</span>
      <div class="impact-box"><span class="impact-amount">{{network_impact | currency}}</span></div>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-12 impact-operand">=</div>
      <div class="col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 impact-container">
        <span>Your Impact</span>
        <div class="impact-section">
            <div class="impact-box actual-impact"><span class="impact-amount">{{total_impact | currency}}</span></div>
        </div>
      </div>
    </div>
      
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 share-container">
      <hr>
      <div ng-if="children.length > 0" class="col-md-11 col-sm-11">
        <span class="display-block label-challenge">Your Referrals</span>
        <div class="table-responsive table-referrals">
          <table class="table">
            <thead>
              <tr>
                <th class="referral-header">Name</th>
                <th class="referral-header">Status</th>
                <th class="referral-header">Referral Code</th>
                <th class="referral-header">Thank Them!</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="child in children">
                <td>{{child.name}}</td>
                <td ng-if="child.is_challenged && !child.is_paid && child.challenge_ongoing"><span class="badge challenge">Challenge In Progress</span></td>
                <td ng-if="!child.is_challenged"><span class="badge donated">Donated</span></td>
                <td ng-if="child.is_challenged && child.is_paid"><span class="badge completed">Completed Challenge</span></td>
                <td ng-if="child.is_challenged && !child.is_paid && !child.challenge_ongoing"><span class="badge failed">Challenge Failed</span></td>
                <td><a ui-sref="share({donationId: child.referral_link})" target="_blank">{{child.referral_link}}</a></td>
				<td><button class="btn" data-toggle="modal" data-target="#thank-you">Thanks!<span class="fa fa-check-square" ng-show="$index == sent"></span></button></td>
			  </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-11 col-sm-11 challenge-section">
        <span class="display-block label-challenge">Share your Challenge Code</span>
        <div class="col-md-12 share-container-background">
          <div class="col-md-3 col-sm-3 fa-container">
            <i class="fa fa-bullhorn"></i>
          </div>
          <div class="col-md-9 col-md-offset-0 col-sm-offset-3">
            <div>
              You’ll need your friends to contribute to this fundraising campaign using your custom challenge code. You can also share with them using the following link.
            </div>
            <a class="share-link" ng-href="{{share_link}}" target="_blank">{{share_link}}</a>
            Your Challenge Code <input type="text" class="form-control" value="{{challengeCode}}">
            <div class="social-share">
              <a class="btn btn-facebook" href="#" ng-click="share('facebook')"><i class="fa fa-facebook"></i> Share</a>
              <a class="btn btn-twitter" href="#" ng-click="share('twitter')"><i class="fa fa-twitter"></i> Tweet</a>
              <a class="btn btn-comment visible-xs-inline" ng-href="sms://{{operand}}body=https://backonmyfeet.multiplyme.in/#!/share/{{shareId}}" target="_blank"><i class="fa fa-comment"></i> Text</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 misc-container">
    <a class="btn btn-green" href="#" role="button" data-toggle="modal" data-target="#manage-donation" ng-show="only_recurring && !all_cancelled"><i class="fa fa-archive"></i> Manage your Donation</a>
    <a class="btn btn-green" href="#" role="button" data-toggle="modal" data-target="#reset-password"><i class="fa fa-key"></i> Change Password</a>
  </div>
</div>
<div class="modal fade" id="reset-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="oldPassword" class="col-sm-4 control-label">Old password</label>
            <div class="col-sm-8">
              <input ng-model="oldPassword" type="password" class="form-control" id="oldPassword" placeholder="Old password">
            </div>
          </div>
          <div class="form-group">
            <label for="newPassword" class="col-sm-4 control-label">New password</label>
            <div class="col-sm-8">
              <input ng-model="newPassword" type="password" class="form-control" id="newPassword" placeholder="New password">
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="col-sm-4 control-label">Confirm new password</label>
            <div class="col-sm-8">
              <input ng-model="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="updatePassword()" type="submit" class="btn btn-default pull-right">Update Password</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="manage-donation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Manage your donation</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          You are currently donating {{ recurring_amount * 0.01 | currency }} per month
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="deleteSubscriptions()" type="button" class="btn btn-danger">Cancel Recurring</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="thank-you" role="dialog" aria-labelledby="ThanksModalLabel" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="ThanksModalLabel">Thank your Donors</h4>
      </div>
      <div class="modal-body">
        <p>Send an email to thank the person who supported you.</p>
        <div class="container-fluid">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="subject" class="col-sm-2 control-label">Subject</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="subject" placeholder="Subject Line">
              </div>
            </div>
            <div class="form-group">
              <label for="message" class="col-sm-2 control-label">Message</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="message" placeholder="Thank You Message"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-success">Send Thanks</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<mm-footer></mm-footer>
