<div class="container primary">
  <mm-header has-sign-out="true"></mm-header>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <h1 class="text-center">Welcome {{name}}</h1>
    </div>
  </div>
  <div class="row row-center-hack">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 impact-container">
        <span>Your Donation</span>
        <div class="impact-box">
          <span class="impact-amount">
            {{personal_impact | currency}}
            <div class="month-label" ng-show="only_recurring && !all_cancelled">per month</div>
          </span>
        </div>
      </div>
    <div class="col-md-1 col-sm-1 col-xs-12 impact-operand">+</div>
    <div class="col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 impact-container">
      <span>Your Network</span>
      <div class="impact-box"><span class="impact-amount">{{network_impact | currency}}</span></div>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-12 impact-operand">=</div>
      <div class="col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 impact-container">
        <span>Your Impact</span>
        <div class="impact-section">
            <div class="impact-box actual-impact"><span class="impact-amount">{{total_impact | currency}}</span></div>
        </div>
      </div>
    </div>
      
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 share-container">
      <hr>
      <div class="col-md-11 col-sm-11">
        <span class="display-block label-challenge">Share your Challenge Code</span>
        <div class="col-md-12 share-container-background">
          <div class="col-md-3 col-sm-3 fa-container">
            <i class="fa fa-bullhorn"></i>
          </div>
          <div class="col-md-9 col-md-offset-0 col-sm-offset-3">
            <div>
              You’ll need your friends to contribute to this fundraising campaign using your custom challenge code. You can also share with them using the following link.
            </div>
            <a class="share-link" ng-href="{{share_link}}" target="_blank">{{share_link}}</a>
            Your Challenge Code <input type="text" class="form-control" value="clementh">
            <div class="social-share">
              <a class="btn btn-default btn-facebook" href="#" ng-click="share('facebook')"><i class="fa fa-facebook"></i> Share</a>
              <a class="btn btn-default btn-twitter" href="#" ng-click="share('twitter')"><i class="fa fa-twitter"></i> Tweet</a>
              <a class="btn btn-default btn-comment visible-xs-inline" href="#" ng-click="share('text')"><i class="fa fa-comment"></i> Text</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 misc-container">
    <a class="btn btn-green" href="#" role="button"><i class="fa fa-archive"></i> Manage your Donation</a>
    <a class="btn btn-green" href="#" role="button"><i class="fa fa-key"></i> Change Password</a>
  </div>
</div>
<mm-footer></mm-footer>