<style>
.small-logo {
  color: black;
  margin-right: 10px;
}

.org-link {
  color: black;
  text-decoration: underline;
}

.header-overview {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.proj-name {
  font-size: 18px;
  display: inline;
}

.proj-details {
  margin-left: 40px;
}

.title-normal {
  font-weight: normal;
  margin-bottom: 5px;
}

.pledge {
  background-color: #E3F5F1;
  padding: 40px;
  border-radius: 10px;
}
.perks{
  cursor: pointer;
  background-color: #E3F5F1;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
  position: relative;
  text-decoration:none;
}

.perks:hover {
  background-color: #278570;
  color: white;
  text-decoration:none;
}

.perk-promo {
  background-color: #278570;
  border-radius: 10px;
  color: white;
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.promo-tag {
  display: inherit;
  margin-bottom: 5px;
}

a[role=button], a[role=button]:focus, a[role=button]:hover{
	text-decoration:none;
	color:inherit;
}

/*override*/
.btn-success {
  background-color: #50E3C2;
  color: black;
  border-color: transparent;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}

/*override*/
.btn-success:hover {
  background-color:#278570;
  border-color: transparent;
  color: white; 
}

.btn-clear {
  background-color: transparent;
  border-color: transparent;
  margin-left: 20px;
  margin-right: 20px;
  color: #50E3C2;
  font-weight: bold;
}

.content {
  margin-top: 20px;
}

.pledge-input {
  border: 1px solid black;
  font-size: 28px;
  font-weight: bold;
  padding: 7px 80px 7px 35px;
  display: inline;
  color: black;
  width: 100%;
  border-radius: 5px;
}

.pledge-input:focus {
  outline: 0;
}

/*override*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-pledge {
  position: relative;
}

.currency-symbol {
  position: absolute;
  top: 3px;
  left: 10px;
  font-weight: bold;
  font-size: 30px;
  color: black;
  line-height: 48px;
}

.currency-label {
  position: absolute;
  top: 3px;
  right: 10px;
  font-weight: bold;
  font-size: 30px;
  color: black;
  line-height: 48px;
}

.perk-selected {
  background-color: #278570;
  color: white;
}

.perk-selected .fa-check-square {
  color: #73E8CE;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
}

.no-margin-top {
  margin-top: 0px;
}

.logo {
  width: 30px;
  float: left;
  margin-top: 10px;
}

.pledge-error input{
  border-color: #a94442;
  color: #a94442;
}

.pledge-error .currency-symbol {
  color: #a94442;
}

.pledge-error .currency-label {
  color: #a94442;
}

.btn-success[disabled] {
  background-color: rgba(80, 227, 194, 0.49);
  border-color: transparent;
}
</style>
<campaign-header></campaign-header>
<div class="container-fluid">
  <div class="col-lg-offset-2 col-lg-5">
    <h2 class="title-normal">Enter your Contribution</h2>
    <span>Any amount of $1 or more</span>
  </div>
  <div class="col-lg-offset-2 col-lg-7 col-md-12 col-sm-12">
    <div class="col-lg-6 col-md-6 col-sm-6 pledge content">
      <form name="contributeForm">
        <div class="form-group" ng-class="{'pledge-error': contributeForm.pledge.$error.pattern}">
          <div class="form-pledge">
            <span class="currency-symbol">$</span>
            <input name="pledge" id="pledge" type="number" class="pledge-input" min="1" ng-model="pledge" ng-pattern="/^[1-9]\d*(\.\d+)?$/" required autofocus>
            <span class="currency-label">USD</span>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="selectedRecurring"> Make this a recurring monthly gift. Cancel Anytime.
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-6 content">
      <div class="perk-promo" ng-hide="suggestedAmount == -1 || forceHideSuggested == true" ng-class="{animated: showPromo, bounceIn: showPromo, bounceOut: !showPromo}">
        <span class="promo-tag">Would you consider giving {{suggestedAmount | currency:undefined:0}} a month instead for more impact?</span>
        <div>
          <button type="button" class="btn btn-clear" ng-click="hidePromo()">No</button>
          <button type="button" class="btn btn-clear animated infinite pulse" ng-click="yesPromo()">Yes</button>
        </div>
      </div>
      <h4 class="no-margin-top">Suggested Donations</h4>
      <div ng-repeat="suggest in suggestedDonations" ng-click="selectPerk($index)">
        <div class="perks" ng-class="{'perk-selected':$index == selectedPerk}">
          <h3>${{suggest.amount}} <span style="font-size:12px" ng-show="suggest.recurring">per month</span></h3>
          <span>{{suggest.message}}</span>
          <span class="fa fa-check-square" ng-show="$index == selectedPerk"></span>
        </div>
      </div>
      <a role="button" class="btn btn-success pull-right" ng-href="/payment?isSubscription={{selectedRecurring}}&amount={{pledge}}&{{referHref}}" ng-disabled="contributeForm.$invalid">Continue</a>
    </div>
  </div>
</div>
<footer></footer>
