<div class="container primary">
  <mm-header></mm-header>
  <mm-steps active="1"></mm-steps>

	<div class="row">
	  <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-offset-1">
  		<h2 class="title-normal hidden-xs">Enter your Contribution</h2>
	    <h2 class="title-normal hidden-sm hidden-md hidden-lg">Pick your Contribution</h2>
	  </div>
	</div>
	
  <div class="row">	
		<div class="hidden-xs col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-sm-5 col-md-4 pledge content">
  		<h4 class="no-margin-top">Any amount of $1 or more</h4> 
		  <form name="contributeForm" class="form">
  			<div class="form-group" ng-class="{'pledge-error': contributeForm.pledge.$error.pattern}">
  			  <label class="form-pledge">
    				<span class="currency-symbol">$</span>
    				<input name="pledge" id="pledge" type="number" class="pledge-input" min="1" ng-model="pledge" ng-pattern="/^[1-9]\d*(\.\d+)?$/" required autofocus />
    				<span class="currency-label">USD</span>
  			  </label>
  			  <div class="checkbox">
    				<label>
    				  <input type="checkbox" ng-model="selectedRecurring"/> Make this a recurring monthly gift. <br />Cancel Anytime.
    				</label>
  			  </div>
  			</div>  
  		</form>
	  </div>

		<div class="col-sm-4 content">
		  <div class="perk-promo" ng-hide="suggestedAmount == -1 || forceHideSuggested == true" ng-class="{animated: showPromo, bounceIn: showPromo, bounceOut: !showPromo}">
				<span class="promo-tag">Would you consider giving {{suggestedAmount | currency:undefined:0}} a month instead for more impact?</span>
				<div>
				  <button type="button" class="btn btn-clear" ng-click="hidePromo()">No</button>
				  <button type="button" class="btn btn-clear animated infinite pulse" ng-click="yesPromo()">Yes</button>
				</div>
		  </div>
		  <h4 class="no-margin-top inset">Suggested Amounts</h4>
		  <label ng-class="{'perk-selected':$index == selectedPerk}" class="perks" ng-repeat="suggest in suggestedDonations" ng-click="selectPerk($index)">
  			<input type="radio" value="{{suggest.amount}}" name="suggested" tabindex="0" class="sr-only">
  			<h3>${{suggest.amount}} <span style="font-size:12px" ng-show="suggest.recurring">per month</span></h3>
  		  <span>{{suggest.message}}</span>
  		  <span class="fa fa-check-square" ng-show="$index == selectedPerk"></span>
      </label>
		  <a role="button" class="hidden-xs btn btn-primary pull-right" ui-sref="createaccount({isSubscription: selectedRecurring, amount: pledge, refer: referral})" ng-disabled="contributeForm.$invalid">Continue</a>
		</div>
	  
		<div class="hidden-md hidden-lg hidden-sm col-xs-12 pledge content">
	    <h4 class="no-margin-top">Or enter your own amount</h4>
			<span>Any amount of $1 or more</span>
		  <form name="contributeForm" class="form">
				<div class="form-group" ng-class="{'pledge-error': contributeForm.pledge.$error.pattern}">
				  <div class="form-pledge">
  					<span class="currency-symbol">$</span>
  					<input name="pledge" id="pledge" type="number" class="pledge-input" min="1" ng-model="pledge" ng-pattern="/^[1-9]\d*(\.\d+)?$/" required autofocus />
  					<span class="currency-label">USD</span>
				  </div>
				  <div class="checkbox">
  					<label>
  					  <input type="checkbox" ng-model="selectedRecurring"/> Make this a recurring monthly gift. <br />Cancel Anytime.
  					</label>
				  </div>
				</div>
			</form>
			<a role="button" class="btn-primary btn" ui-sref="createaccount({isSubscription: selectedRecurring, amount: pledge, refer: referral})" ng-disabled="contributeForm.$invalid">Continue</a>
		</div>
	</div>
</div>
<mm-footer></mm-footer>
