<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiplyMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
			$('.btn-play').mouseenter( function(){
				$('.background').animate({
				marginTop: "40px",
				  }, 1000);
				$('div').removeClass( "whitefont" );
				$('.btn-play').hide();
				$('.spacer').animate({
					marginTop: "56.25%",
					height: "0"
				  }, 1000, function() {
					$('.background').css( "z-index", "3" )
				  });
  			});
		});
	</script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
	
	
	<style>
		.video { position: relative; padding-bottom: 56.25%; padding-top: 0px; height: 0; overflow: hidden; }
		.video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
		.spacer {display:block; width: 100%; cursor:pointer;text-align: center;}
		.topspacer {height: 200px;}
		.background {position: absolute; margin-top: 0; z-index: -1; top: 0; left: 0; right: 0;}
		.container {width:100%;max-width:900px;margin:0 auto;padding:0 15px;}
		.fullwidth {width:100%; padding: 0; margin:0;clear:both;}
		.white {background-color: white; padding-top: 30px;}
		.whitefont, .whitefont a {color: white}
		a.underline {text-decoration: underline;}
		.btn-default, .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{background-color:transparent;}
		.btn-primary {margin: 5px 10%; background-color: teal; width: 80%;}
		.leaderboard img {width:50px;height:auto;}
		.leaderboard .row {padding-bottom: 10px;}
		.leaderboard span {padding-top:12px; padding-left: 10px; display:inline-block;}
		.btn-play{width:200px;}
	</style>
	
</head>

<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column whitefont">
				<nav class="primarynav" role="navigation">
					<ul class="nav nav-pills">
						<li>
							<a href="http://multiplyme.in">MultiplyMe</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="fullwidth">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="spacer topspacer">
					<img class="btn-play" src="http://technine.com/wp-content/uploads/2014/10/white-play-button-png.png"/>
				</div>
			</div>
		</div>
	</div>
		<div class="container whitefont">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<h1>
						Bhatti School Mines
					</h1>
					<h3>
						by <a class="underline" href="http://multiplyme.in">Amala Foundation</a>
					</h3>
					<p>
						 Through the partnership, over 200 children have been offered an alternative to child labor, a way out of extreme poverty, hope for the future and the freedom to thrive. We fund and implement life saving awufibeakw efaiwehjnf aiwejfbnha ewaiejnf lsrkjg se rg nseoirgse rg jsoeirjg os eirjgpos eirj g;os eirjg
					</p> 
					<a href="#" class="btn btn-xs btn-default" type="button">Share the Fundraiser</a>
				</div>
				<div class="col-md-4 column">
					<h2 class="text-left">
						30
					</h2>
					<p class="text-left">
						supporters
					</p>
					<h2 class="text-left">
						$150
					</h2>
					<p class="text-left">
						donated of 28,000
					</p>
					<h2 class="text-left">
						27
					</h2>
					<p class="text-left">
						days to go
					</p>
				</div>
				<hr>
			</div>
	</div>
	<div class="fullwidth white">
		<div class="container">		
			<div class="row clearfix">
				<div class="col-md-8 column">
					<div class="tabbable" id="tabs-694560">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#description" data-toggle="tab">Description</a>
							</li>
							<li>
								<a href="#updates" data-toggle="tab">Updates (2)</a>
							</li>
							<li>
								<a href="#comments" data-toggle="tab">Comments (20)</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="description">
								<p>
									<h3>
										Why should you support us?
									</h3>
									<img alt="infographic placeholder" src="http://lorempixel.com/140/140/" />
									<p>
										Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
									</p> 
									<h3>
										How can I help?
									</h3>
									<img alt="infographic placeholder" src="http://lorempixel.com/140/140/" />
									<p>
										Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
									</p> 
									<h3>
										Risks and Challenges
									</h3>
									<p>
										Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
									</p> 
									<h3>
										FAQ
									</h3>
									<p>
										Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
									</p> 
									<button type="button" class="btn btn-xs btn-default">Ask a Question</button>
								</p>
							</div>
							<div class="tab-pane" id="updates">
								<p>
									Howdy, I'm in Section 2.
								</p>
							</div>
							<div class="tab-pane" id="comments">
								<p>
									Howdy, I'm in Section 2.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 column">
					 <button type="button" class="btn btn-lg btn-primary">Contribute</button>
					<p class="text-center small">
						Campaign will end on April 30, 2015 10:00 CMT							
					</p> 
					<button type="button" class="btn btn-block btn-lg btn-default">
						<h3>
							$25
						</h3>
						<p>Can help feed a kid for a week</p>
					</button>
					<div class="leaderboard">
						<h3>
							Leaderboard
						</h3>
						<div class="row clearfix">
							<div class="col-sm-2 column">
								<img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle" />
							</div>
							<div class="col-sm-6 column">
								<span>Sally S.</span>
							</div>
							<div class="col-sm-4 column">
								<span>$150<span>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-sm-2 column">
								<img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle" />
							</div>
							<div class="col-sm-6 column">
								<span>Josh S.</span>
							</div>
							<div class="col-sm-4 column">
								<span>$50<span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="background">
		<div class="video">
		<iframe src="http://player.vimeo.com/video/102413354?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
		<!--<iframe src="https://www.youtube.com/embed/GGeO5EDwP5A" frameborder="0" allowfullscreen></iframe>-->
	<div style="position: absolute; top:0;left:0;right:0;width:100%;height:100%;background-color:black; z-index: -3;"></div>
		</div>
	</div>
</body>