<footer class="row col-lg-inset">
  <div class="col-md-3 col-lg-3 col-lg-offset-1 col-sm-6">
    <div class="logo-full"></div>
  </div>
  
  <div class="col-md-4 col-sm-6 col-lg-3">
    <nav>
      <div class="col-xs-6">
        <strong>About Us</strong>
        <a href="">How it Works</a>
        <a href="">Our Team</a>
        <a href="">Contact Us</a>
        <a href="">Facebook</a>
        <a href="">Twitter</a>
      </div>
      <div class="col-xs-6">
        <strong>Help</strong>
        <a href="">FAQ</a>
        <a href="">Your Account</a>
        <a href="">Terms of Use</a>
        <a href="">Privacy Policy</a>
      </div>
    </div>
  </nav>
  <div class="col-md-5 col-lg-4 col-sm-6">
    <label>Stay up to date with MultiplyMe</label>
    <input type="text" placeholder="Your email address">
    <button class="btn">Subscribe</button>
  </div>
</footer>