<footer class="row col-lg-inset">
  <div class="col-md-3 col-lg-3 col-lg-offset-1 col-sm-6">
    <div class="logo-full"></div>
  </div>
  
  <div class="col-md-4 col-sm-6 col-lg-3">
    <nav>
      <div class="col-xs-6">
        <strong>About Us</strong>
        <a ui-sref="howitworks">How it Works</a>
        <a ui-sref="team">Our Team</a>
        <a href="https://multiplyme.wufoo.com/forms/contact-us/" target="_blank">Contact Us</a>
        <a href="https://facebook.com/multiplyme" target="_blank">Facebook</a>
        <a href="https://twitter.com/multiplymein" target="_blank">Twitter</a>
      </div>
      <div class="col-xs-6">
        <strong>Help</strong>
        <a href="https://multiplyme.zendesk.com/hc/en-us" target="_blank">FAQ</a>
        <a ui-sref="signin">Your Account</a>
        <a ui-sref="terms">Terms of Use</a>
        <a ui-sref="privacy">Privacy Policy</a>
      </div>
    </div>
  </nav>
  <div class="col-md-5 col-lg-4 col-sm-6">
    <label>Stay up to date with MultiplyMe</label>

    <form action="//MultiplyMe.us10.list-manage.com/subscribe/post?u=37aa354ead06ef426b16aa342&amp;id=c3d5b05b0f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Your email address">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_37aa354ead06ef426b16aa342_c3d5b05b0f" tabindex="-1" value=""></div>
    <button type="submit" class="btn">Subscribe</button>

    </form>
  </div>
</footer>