<div class="container primary">
  <mm-header></mm-header>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
      <h1 class="text-center">How it works</h1>
      <ul class="how-container">
        <li>
          <div class="col-md-6 col-sm-12 text-right single-row">
            Pledge to Donate
          </div>
          <div class="col-md-6 col-sm-12 text-left">
            <i class="fa fa-money"></i>
          </div>
        </li>
        <li>
          <div class="col-md-4 col-md-offset-2 text-right">
            Challenge your friends to make pledges or donate
          </div>
          <div class="col-md-6 text-left">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-envelope-square"></i>
            <i class="fa fa-twitter-square"></i>
          </div>
        </li>
        <li>
          <div class="col-md-6 text-right">
            Your pledge will only be donated <br>if 3 friends pledge or donate within 3 days
          </div>
          <div class="col-md-6 text-left">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-envelope-square"></i>
            <i class="fa fa-twitter-square"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<mm-footer></mm-footer>