<div class="container primary">
  <mm-header></mm-header>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 works-container">
      <h1 class="text-center">How it works</h1>
      <div class="row how-container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right single-row">
          Pledge to Donate
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
          <i class="fa fa-money fa-pledge"></i>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right step-two">
          Challenge your friends to <br class="hidden-xs">make pledges or donate
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left step-two">
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-twitter-square"></i>
          <i class="fa fa-envelope-square"></i>
        </div>
        <div class="col-md-6 col-md-6 col-sm-12 col-xs-12 text-right step-three">
          Your pledge will only be donated <br class="hidden-xs">if 3 friends pledge or donate within 3 days
        </div>
        <div class="col-md-6 col-md-6 col-sm-12 col-xs-12 text-left step-three">
          <i class="fa fa-users"></i>
          <span class="operand">+</span>
          <i class="fa fa-calendar-o fa-calendar-3"></i>
          <span class="operand">=</span>
          <i class="fa fa-money fa-donation"></i>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 why-container">
      <h1 class="text-center">Why should you take the challenge?</h1>
      <div class="row">
        <div class="col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12 why-topic">
          <i class="fa fa-bullhorn"></i>
          <strong>Incentivize your friends</strong>
          <div>Your friends care about the same causes you do. Ask your friends to match your contribution</div>
        </div>
        <div class="col-md-3 col-md-offset-0 col-sm-5 col-xs-12 why-topic">
          <i class="fa fa-line-chart"></i>
          <strong>Raise more money</strong>
          <div>People who take the challenge raise 10x more funds than those who don’t</div>
        </div>
        <div class="col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12 why-topic">
          <i class="fa fa-sitemap"></i>
          <strong>Track your Impact</strong>
          <div>Every time your friend takes the challenge using your code, it gets added to your total impact score (available on your account page)</div>
        </div>
        <div class="col-md-3 col-md-offset-0 col-sm-5 col-xs-12 why-topic">
          <i class="fa fa-life-ring"></i>
          <strong>Nothing to Lose</strong>
          <div>If you are unable to complete the challenge, your money will not be donated - so you might as well try to take the challenge!</div>
        </div>
      </div>
    </div>
  </div>
</div>
<mm-footer></mm-footer>