<!-- <div class="col-xs-12 referer">
    <h3>Welcome {{refererName}}'s Friend</h3>
    </div>
</div> -->
<div class="container">
  <mm-header has-sign-in="true"></mm-header>
  <h1 class="text-center col-xs-12 cause">Support {{cause.name}}</h1>
  <div class="row col-lg-inset">
    <div class="col-md-9">
      <div class="embed-container">
        <iframe id="vimeoFrame" src="https://player.vimeo.com/video/127660524?api=1&title=0&byline=0&portrait=0&player_id=vimeoFrame" webkitAllowFullScreen mozallowfullscreen allowFullScreen frameborder="0" ></iframe>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="details col-md-12 col-lg-12 col-sm-8 text-center">
          <div class="row"> 
            <div class="col-lg-12 col-md-12 col-xs-4">
              <h2>{{supporters}}</h2>
              <p>Supporters</p>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-4">
              <h2>{{donation_amount * 0.01 | currency:"$":0}}</h2>
              <p>Raised of {{money.requested | currency:"$":0}}</p>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-4">
              <h2>{{days.remaining}}</h2>
              <p>Days Remaining</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 no-pad col-md-12 col-lg-12">
           <a class="btn btn-block btn-md-screen btn-primary" ui-sref="contribute({refer: referral})">Contribute</a>
           <p class="text-center small hidden-sm">
            Campaign will end on {{days.end | date:'MM/dd/yy'}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-8">
        <div class="tabpanel">
          <ul class="nav nav-tabs campaign-tabs">
            <li class="active">
              <a href="#!/#description" data-toggle="tab">Story</a>
            </li>
            <li>
              <a href="#!/#updates" data-toggle="tab">Updates</a>
            </li>
            <li>
              <a href="#!/#comments" data-toggle="tab">Comments
                (<span class="disqus-comment-count" data-disqus-identifier="bhattimines"></span>)
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="description">
              <p>
                <h2 class="campaign-header">Why should you support us?</h2>
                <img alt="infographic" src="images/infographic.png" style="max-width:100%" />
                <br><br>
                The children served by the Bhatti Mines School need your support. For them, the school offers an alternative to child labor, a quality education, and hope for the future.<br><br>
                Bhatti Mines is one of the most impoverished communities in the Delhi area. Its residents lack proper electricity, adequate food and shelter, or health services. With no schools in the community, a child’s only path for survival was a life of manual labor from an early age. This community was trapped in the cycle of poverty.<br><br>
                Until 2003, when Santosh and Archana Singh invested in the future of this community. With funding from people like you, they were able to build a school--and give the community access to education for the first time. Now, instead of laboring to survive, children have opportunities to pursue an education and a better life. <br><br>
                The school is full of positive role models and teachers who care about the success of their students. Each year, over 100 children are offered an alternative to manual labor and a route out of extreme poverty. Children who attend school are more likely to grow up healthy, earn a living wage, marry later, and pass on a better life to the next generation. For these kids, Bhatti Mines School means hope for the future and freedom to thrive.<br><br>
              
                Learn more about the school by watching <a href="http://dearfriendfilm.vhx.tv/" target="_blank">this documentary</a>.
                <h3 class="campaign-header">How can I help?</h3>
                <p>
                Amala Foundation has partnered with MultiplyMe to help with the fundraising of the Bhatti Mines School. Our goal is to raise $7500 to help cover the costs of running the school until the end of this year.
                <br><br>
                You can help by taking the MultiplyMe Challenge or by donating. Just click the contribute button.
                <br>
                <img src="images/challengeInfo.png" alt="Challenge Information" style="max-width:100%">
                <br>
                <img src="images/whyChallenge.png" alt="Why take the challenge" style="max-width:100%">
                </p> 
                <h2 class="campaign-header">FAQ</h2>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default" ng-repeat="qa in faq">
                    <div class="panel-heading">
                      <h5 class="panel-title faq-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#!/#collapse{{$index + 1}}">{{qa.question}}</a>
                      </h5>
                    </div>
                    <div id="collapse{{$index + 1}}" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>{{qa.answer}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-default ask" data-toggle="modal" data-target="#questionModal">Ask a Question</button>
                <!-- <input type="text" ng-show="showfaq"> -->
              </p>
            </div>
            <div class="tab-pane" id="updates">
              <div class="iframe-container">
                <iframe class="iframe" src="/#!/mailchimp" style="width:100%;height:800px"/></iframe>
                  <!--<script language="javascript" src="http://us10.campaign-archive2.com/generate-js/?u=37aa354ead06ef426b16aa342&fid=981&show=10" type="text/javascript"></script>-->  
              </div>
            </div>
            <div class="tab-pane" id="comments">
              <p>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                  /* * * CONFIGURATION VARIABLES * * */
                  var disqus_shortname = 'bhattiminesschool';

                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                </script>
                <noscript>
                  Please enable JavaScript to view the
                  <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
                </noscript>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 hidden-xs suggested ">
        <h2 class="action-header">Suggested Contributions</h2>
        <a role="button" ui-sref="contribute({refer: referral, isSubscription: suggestedDonations[$index].recurring, amount: suggestedDonations[$index].amount})" ng-repeat="suggest in suggestedDonations">
          <div class="perks" ng-class="{'perk-selected':$index == selected}">
            <h3>
              ${{suggest.amount}}
              <span style="font-size:12px" ng-show="suggest.recurring">per month</span>
            </h3>
            <span>{{suggest.message}}</span>
            <span class="fa fa-check-square" ng-show="$index == selected"></span>
          </div>
        </a>
      </div>
  </div>
</div>
<mm-footer></mm-footer>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'bhattiminesschool';
var disqus_identifier = 'bhattimines';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Ask a Question</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <embed src="https://docs.google.com/forms/d/1BE3uL45ElmwyldgPHnnO1tUGXdEwLgdEGyFSi53BZIU/viewform" style="width:100%;height:500px"></embed>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
