<style>
.video { position: relative; padding-bottom: 56.25%; padding-top: 0px; height: 0; overflow: hidden; }
.video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 500px; }
.spacer {display:block; width: 100%; cursor:pointer;text-align: center;}
.topspacer {height: 200px;}
.background {position: absolute; margin-top: 0; z-index: -1; top: 0; left: 0; right: 0;}
.container {width:100%;margin:0 auto;padding:0 15px;}
.fullwidth {width:100%; padding: 0; margin:0;clear:both;}
.white {background-color: white; padding-top: 30px;}
.whitefont, .whitefont a, .whitefont a:hover {color: white}
a.underline {text-decoration: underline;}
.btn-default, .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{background-color:transparent;}
.btn-primary {margin: 5px 10%; background-color: teal; width: 80%;}
.leaderboard img {width:50px;height:auto;}
.leaderboard .row {padding-bottom: 10px;}
.leaderboard span {padding-top:12px; padding-left: 10px; display:inline-block;}
.btn-play{width:200px;}
.btn-xs{padding: 1px 30px;}

.perks{
    cursor: pointer;
    background-color: #E3F5F1;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    margin-bottom: 15px;
    position: relative;
	text-decoration:none;
}

.perks:hover {
    background-color: #278570;
    color: white;
	text-decoration:none;
}

.perk-promo {
    background-color: #278570;
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.promo-tag {
    display: inherit;
    margin-bottom: 5px;
}

a[role=button], a[role=button]:focus, a[role=button]:hover{
text-decoration:none;
color:inherit;
}

.topbar{height: 259px;}
.affix{top:0; background-color: white; border-bottom: 1px black solid;width:100%; left: 0; right: 0; margin: 0; padding: 0;}
.whitefont .affix, .whitefont .affix a, whitefont .affix a:hover {color: black;}
.affix p, .affix .text-left, .affix .btn {display:none;}
.showme {display:none;}
.affix .showme{display:inline-block;}
.h1, .h2, .h3, h1, h2, h3 {margin-top:10px;margin-bottom: 5px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border: none transparent; border-bottom: #278570 3px solid; font-weight: bold;}
.nav-tabs{border: none transparent}
.nav-tabs>li>a{color:#000;}
h4 {font-size:16px;font-weight:bold;}
.panel-default>.panel-heading{background-color:#fff;border:none transparent;padding: 5px 0;}
.panel-default{border:none transparent;}
.panel{-webkit-box-shadow: none; box-shadow: none;}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{border-top:none transparent;}
.panel a:focus, .panel a:hover{text-decoration:none;}
.nav>li>a:focus, .nav>li>a:hover {background-color:transparent;font-weight:bold;}
@lessthan920: 

.embed-container 
{ 
	position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed 
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%%; 
	height: 90%; 
}

.campaignContent {
	position: absolute;
	top: 90%;
	padding-top: 10px;
	width: 100%;
  margin-bottom: 50px;
}

.player .controls {
  display: none;
}

.campaignHighlights {
	position: absolute;
	z-index: 100;
	width: 100%;
	top:40px;
}

.campaignStats {
	margin-left: 30px;
}

h1.campaignLabels {
	font-size: 60px;
	margin-bottom: 0px;
	margin-left: -3px; /*fix weird bug*/
}

h3.campaignLabels {
	font-size: 30px;
	margin-top: 0px;
}

h2.campaignLabels {
	font-size: 40px;
	margin-bottom: 0px;
}

.campaign-tabs {
	font-size: 18px;
}

nav.campaign {
	position: absolute;
	top: 10px;
	z-index: 10;
	color: white;
	width: 100%;
}

.campaign .btn {
	color: white;
	float: right;
	margin-right: 85px;
}

.campaign span {
	margin-left: 85px;
}

.action-header {
	margin-top: 30px;
  font-size: 18px;
}

.faq-title {
  color: #337ab7;
}

.campaign-header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.iframe-container{
position: relative;
margin-top:30px;
width:100%;
height:650px;
overflow:hidden;
}

.iframe{
position:absolute;
height:100%;
width:100%;
top:0;
left:0;
right:0;
bottom:0;
border:none;
}

@media (max-width: 610px) {
  .campaign span {
    margin-left: 15px;
  }
  .campaign .btn {
  margin-right: 52px;
  }
  h1.campaignLabels {
	font-size: 30px;
	margin-bottom: 0px;
}
  h3.campaignLabels {
	font-size: 20px;
	margin-bottom: 0px;
}
  h2.campaignLabels {
	font-size: 30px;
	margin-bottom: 0px;
}
.campaign-tabs>li>a{
font-size: 16px;
padding: 5px 5px;
}
}
</style>
<nav class="campaign">
	<span><img style="width:150px" src="../images/multiplyMeTransparent.png"></span>
	<a href="/signin" class="btn btn-default text-right">Sign In</a>
</nav>

<div class="container whitefont campaignHighlights" ng-hide="highlights">
	<div class="col-sm-offset-2 col-sm-5">
		<h1 class="campaignLabels">{{cause.name}}</h1>
		<h3 class="campaignLabels">by <a class="underline" target="_blank" ng-href="{{org.url}}">{{org.name}}</a></h3>
		<p>{{cause.blurb}}</p> 
		<div class="popover-cntr" style="position:relative;">
		  <a href="#" class="btn btn-default">Share the Fundraiser</a>
		  <div class="popover fade right in" role="tooltip" id="popover644569" style="left:170px; display: block;">
		    <div class="arrow" style="top: 40%;"></div>
			<h3 class="popover-title" style="display: none;"></h3>
			<div class="popover-content">
			  <div class="social-links">
                <button class="social-actions" ng-click="share('facebook')"><span class="fa fa-facebook-square"></span></button>
                <button class="social-actions" ng-click="share('twitter')" ><span class="fa fa-twitter-square"></span></button>
                <button class="social-actions" ng-click="share('google')"><span class="fa fa-google-plus-square"></span></button>
                <button class="social-actions" ng-click="share('email')"><span class="fa fa-envelope"></span></button>
              </div>
			</div>
		  </div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-2 campaignStats">
		<h2 class="text-left campaignLabels">{{cause.supporters}}</h2>
		<p class="text-left">supporters</p>
		<h2 class="text-left campaignLabels">{{money.raised | currency:"$":0}}</h2>
		<p class="text-left">donated of {{money.requested | currency:"$":0}}</p>
		<h2 class="text-left campaignLabels">{{days.remaining}}</h2>
		<p class="text-left">days to go</p>
	</div>
</div>

<div class='embed-container'>
	<iframe id="vimeoFrame" src='https://player.vimeo.com/video/74538535?api=1&title=0&byline=0&portrait=0&player_id=vimeoFrame' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

<div class="white campaignContent">
	<div class="container">		
		<div class="row">
			<div class="col-sm-offset-2 col-sm-5 column">
				<div class="tabpanel">
          <ul class="nav nav-tabs campaign-tabs">
            <li class="active">
              <a href="#description" data-toggle="tab">Description</a>
            </li>
            <li>
              <a href="#updates" data-toggle="tab">Updates</a>
            </li>
            <li>
              <a href="#comments" data-toggle="tab">Comments 
                <span class="disqus-comment-count" data-disqus-identifier="bhattimines"></span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="description">
              <p>
                <h3 class="campaign-header">Why should you support us?</h3>
                <img alt="infographic placeholder" src="images/{{cause.image}}" style="max-width:100%" />
                <p>{{cause.why}}</p> 

                <h3 class="campaign-header">How can I help?</h3>
                <p>
                MultiplyMe is designed to help you challenge your community and multiply your donation. You can give directly, or instead use your gift to motivate others to take action. Pledge your gift with a time limit, and if your friends don’t take action before 3 days, the charity loses your gift (you are refunded). If you get three friends to pledge or donate in three days, your donation goes through and we’ll keep track of your impact. If your friends influence others to give, we’ll keep track of that too. Watch your impact spread and your money grow.
				</p> 

                <h3 class="campaign-header">FAQ</h3>  
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default" ng-repeat="qa in faq">
                    <div class="panel-heading">
                      <h5 class="panel-title faq-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index + 1}}">{{qa.question}}</a>
                      </h5>
                    </div>
                    <div id="collapse{{$index + 1}}" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>{{qa.answer}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-default" ng-hide="showfaq" ng-click="showfaq = ! showfaq">Ask a Question</button>
                <input type="text" ng-show="showfaq">
              </p>  
            </div>
            <div class="tab-pane" id="updates">
              <div class="iframe-container">
			  <iframe class="iframe" src="http://us10.campaign-archive2.com/home/?u=37aa354ead06ef426b16aa342&id=0b18369580"/>
                  <!--<script language="javascript" src="http://us10.campaign-archive2.com/generate-js/?u=37aa354ead06ef426b16aa342&fid=981&show=10" type="text/javascript"></script>-->  
              </div>
            </div>
            <div class="tab-pane" id="comments">
              <p>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                  /* * * CONFIGURATION VARIABLES * * */
                  var disqus_shortname = 'multiplyme';

                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                </script>
                <noscript>
                  Please enable JavaScript to view the 
                  <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
                </noscript>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 column">
        <a class="btn btn-lg btn-primary" href="/contribute">Contribute</a>
        <p class="text-center small">
          Campaign will end on {{days.end | date:'MM/dd/yy'}}           
        </p> 
        <h4 class="action-header">Suggested Donations</h3>
        <a role="button" ng-href="/contribute?isSubscription={{suggestedDonations[$index].recurring}}&amount={{suggestedDonations[$index].amount}}" ng-repeat="suggest in suggestedDonations">
          <div class="perks" ng-class="{'perk-selected':$index == selected}">
            <h3>
              ${{suggest.amount}} 
              <span style="font-size:12px" ng-show="suggest.recurring">per month</span>
            </h3>
            <span>{{suggest.message}}</span>
            <span class="fa fa-check-square" ng-show="$index == selected"></span>
          </div>
        </a>
        <div class="leaderboard">
          <h4 class="action-header">Leaderboard</h3>
          <div class="row clearfix" ng-repeat="leader in leaderBoard">
            <div class="col-xs-2 column">
              <img alt="140x140" class="img-circle" ng-src="https://www.gravatar.com/avatar/{{leader.img}}?s=200&r=pg&d=mm" />
            </div>
            <div class="col-xs-6 column">
              <span>{{leader.first}} {{leader.last}}</span>
            </div>
            <div class="col-xs-4 column">
              <span>${{leader.amount}}<span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'multiplyme';
var disqus_identifier = 'bhattimines';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
