<div class="container primary">
  <mm-header></mm-header>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
      <h1 class="text-center">Thank you {{donorName}}</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center rounded-secondary">
      <h1 class="receipt" ng-if="donated">You donated {{amount | currency:undefined:0}} <span ng-if="recurring">per month</span></h1>
      <h1 class="receipt" ng-if="!donated">You took the challenge</h1>

      <span ng-if="donated">(Receipt has been emailed)</span>
      <span ng-if="!donated">and pledged to donate {{amount | currency:undefined:0}} <span ng-if="recurring">per month</span> upon completion</span>
    </div>
    <div ng-if="parentDonation && parentDonation.is_challenged && !parentDonation.is_paid">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 supporter-container-label">
        You also helped {{parentFirstName}}’s challenge
      </div>
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 rounded-secondary">
        <div class="col-md-4 col-md-offset-0 col-sm-5 col-xs-12 supporter-container">
          <span class="supporter-label">{{parentFirstName}}'s Supporters</span>
          <div class="supporter-images">
            <img class="img-circle img-responsive img-supporter" ng-src="{{images[0]}}">
            <img class="img-circle img-responsive img-supporter" ng-src="{{images[1]}}">
            <img class="img-circle img-responsive img-supporter" ng-src="{{images[2]}}">
          </div>
          <div class="supporter-initials">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="col-md-8 col-sm-7 col-xs-12">
          <div class="supporter-content">
            {{3 - children}} more friends need to pledge or donate within the next {{timeRemaining}} hours before {{parentFirstName}}’s challenge is complete
          </div>
        </div>
        <a ng-click="remind()" class="btn btn-success btn-remind">Remind {{parentFirstName}}</a>
      </div>
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 top-divider"></div>
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <div ng-if="donated">
      <span class="share-header">Friends who share on social media raise 10% more</span>
      <span class="share-subheader">We’ve made it simple for you. Just copy and paste</span>
    </div>
    <div ng-if="!donated">
      <span class="share-header">Challenge your friends through social media</span>
      <span class="share-subheader">Just copy, paste and tag your friends</span>
    </div>

    <div class="col-md-6 col-md-offset-3 rounded-secondary message-box">
      <textarea class="form-control" rows="5">I just supported Back on My Feet. Learn more about what they are doing and how you can help! https://backonmyfeet.multiplyme.in/#!/share/{{donationId}}</textarea>
      <div style="margin-top: 10px;">
        <a class="btn btn-facebook" href="#" ng-click="share('facebook')"><i class="fa fa-facebook"></i> Share</a>
        <a class="btn btn-twitter" href="#" ng-click="share('twitter')"><i class="fa fa-twitter"></i> Tweet</a>
        <a class="btn btn-comment visible-xs-inline" ng-href="sms://{{operand}}body=https://backonmyfeet.multiplyme.in/#!/share/{{donationId}}" target="_blank"><i class="fa fa-comment"></i> Text</a>
      </div>
    </div>
  </div>
</div>
<mm-footer></mm-footer>
