<div class="container primary">
  <mm-header></mm-header>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
      <h1 class="text-center">Thank you {{donorName}}</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center rounded-secondary">
      <h1 class="receipt">You donated {{amount | currency:undefined:0}}</h1>
      <span>(Receipt has been emailed)</span>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 supporter-container-label">
      You also helped Jacob’s challenge
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 rounded-secondary">
      <div class="col-md-4 col-md-offset-0 col-sm-5 col-xs-12 supporter-container">
        <span class="supporter-label">Jacob's Supporters</span>
        <div class="supporter-images">
          <img class="img-circle img-responsive img-supporter" src="images/unknown-donor.png">
          <img class="img-circle img-responsive img-supporter" src="images/unknown-donor.png">
          <img class="img-circle img-responsive img-supporter" src="images/unknown-donor.png">
        </div>
        <div class="supporter-initials">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="col-md-8 col-sm-7 col-xs-12">
        <div class="supporter-content">
          2 more friends need to pledge or donate within the next 10 hours before Jacob’s challenge is complete
        </div>
      </div>
      <a ui-sref="" class="btn btn-success btn-remind">Remind Jacob</a>
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 top-divider"></div>
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <span class="share-header">Friends who share on social media raise 10% more</span>
    <span class="share-subheader">We’ve made it simple for you. Just copy and paste</span>
    <div class="col-md-6 col-md-offset-3 rounded-secondary message-box">
      <textarea class="form-control" rows="5">I just supported Bob Robbins from The Well Church. Learn more about what he’s doing and how you can help! https://thewell.multiplyme.in/share?challenge=clementh4</textarea>
      <div style="margin-top: 10px;">
        <a class="btn btn-facebook" href="#" ng-click="share('facebook')"><i class="fa fa-facebook"></i> Share</a>
        <a class="btn btn-twitter" href="#" ng-click="share('twitter')"><i class="fa fa-twitter"></i> Tweet</a>
        <a class="btn btn-comment visible-xs-inline" href="#" ng-click="share('text')"><i class="fa fa-comment"></i> Text</a>
      </div>
    </div>
  </div>
</div>
<mm-footer></mm-footer>