<div class="container primary">
  <mm-header></mm-header>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <h1 class="text-center">Will you join Jacob in supporting Bob Robbins?</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="div-center"><img class="img-circle" src="images/clement.jpg"></div>
      <div class="div-center"><img class="img-responsive pyramid" src="images/pyramid-arrows.png"></div>
      <div class="div-center">
        <img class="img-circle img-responsive img-profile" src="images/fraser.jpg">
        <img class="img-circle img-responsive img-profile middle-donor" src="images/unknown-donor.png">
        <img class="img-circle img-responsive img-profile" src="images/you-donor.png">
      </div>
      <div class="div-center img-profile-labels">
        <span>FM</span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3 col-xs-12 challenge-info">
      <!-- <div class="row"> -->
        <div class="col-md-7 col-sm-7 col-xs-12">
          <h2 class="challenge-status">2 more friends</h2>
          need to pledge or donate<br>
          before Jacob's pledge of <strong>$5</strong> is donated
        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 challenge-action">
          <h2>10:40</h2>
          Hours Remaining
          <a class="btn btn-success btn-lg btn-block" ui-sref="contribute({refer: referral})">Contribute</a>
        </div>
      <!-- </div> -->
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
        <a class="btn btn-default btn-lg" ui-sref="main({refer: donationId})">Learn More</a>
    </div>
  </div>
</div>
<mm-footer></mm-footer>