<div class="container primary">
  <mm-header></mm-header>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <h1 class="text-center">Will you join Jacob in supporting Bob Robbins?</h1>
    </div>
    <div class="col-md-10 col-md-offset-1 col-xs-12 pyramid-four">
      <div class="div-center"><img class="img-circle" src="images/clement.jpg"></div>
      <div class="div-center"><img class="img-responsive pyramid" src="images/pyramid-arrows4.png"></div>
      <div class="div-center">
        <img class="img-circle img-responsive img-profile" src="images/fraser.jpg">
        <img class="img-circle img-responsive img-profile" src="images/lehua.png">
        <img class="img-circle img-responsive img-profile" src="images/fraser.jpg">
        <img class="img-circle img-responsive img-profile" src="images/you-donor.png">
      </div>
      <div class="div-center img-profile-labels">
        <span>FM</span>
        <span>LG</span>
        <span>FM</span>
        <span></span>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3 col-xs-12 stat-container">
      <div class="statistic">
        Jacob's<br>Donation
        <div class="impact-box">$50</div>
      </div>
      <div class="operand">
        +
      </div>
      <div class="statistic">
        Jacob's<br>Network
        <div class="impact-box">$100</div>
      </div>
      <div class="operand">
        =
      </div>
      <div class="statistic">
        Jacob's<br>Impact
        <div class="impact-box">$150</div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3 col-xs-12 challenge-info">
      <div class="col-md-12 challenge-stats">
        <h2 class="challenge-status">3 friends</h2>
        helped Jacob complete the MultiplyMe Challenge
        <h2 class="challenge-status">Raised 3x</h2>
        more than Jacob's donation
        <a class="btn btn-default btn-more hidden-xs" ui-sref="main({refer: donationId})">Learn more</a>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
        <a class="btn btn-success btn-lg" ui-sref="contribute({refer: referral})">Contribute</a>
        <a class="btn btn-default btn-lg btn-more visible-xs-inline" ui-sref="main({refer: donationId})">Learn more</a>
    </div>
  </div>
</div>
<mm-footer></mm-footer>