<div class="row" ><div class="col-lg-offset-1 no-pad col-lg-10 col-md-12 col-sm-12 flare"></div></div>
<div class="row" >
  <div class="col-lg-offset-1 no-pad col-lg-10 col-sm-12 col-md-12 container padding-bottom">
    <mm-header></mm-header>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <h1 class="text-center">Support Bhatti Mines School</h1>
      </div>
      <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <div class="embed-container">
            <iframe id="vimeoFrame" src="https://player.vimeo.com/video/127660524?api=1&title=0&byline=0&portrait=0&player_id=vimeoFrame" webkitAllowFullScreen mozallowfullscreen allowFullScreen frameborder="0" ></iframe>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="row prompt-container">
          <div class="col-md-2 col-sm-2 col-xs-3 text-right">
            <img src="http://1.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=75&r=pg&d=mm" alt="avatar" class="img-circle">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-9 prompt">
            <span>Jacob pledged to donate <strong>$500 per month</strong>. Will you join this cause?</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-default">Learn More</button>
            <button class="btn btn-success">Contribute</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mm-footer></mm-footer>