<style>
html, body{
  height: 100%;
  width:100%;
}

.impactstat{
padding:0 0 10px 0;
margin:0;
}

.small-logo {
  color: black;
  margin-right: 10px;
}



.org-link {
  color: black;
  text-decoration: underline;
}

.header-overview {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.proj-name {
  font-size: 18px;
  display: inline;
}

.proj-details {
  margin-left: 45px;
}

.title-normal {
  font-weight: normal;
  margin-bottom: 5px;
}

.pledge {
  background-color: #E3F5F1;
  padding: 40px;
  border-radius: 10px;
}

.perks {
  cursor: pointer;
  background-color: #E3F5F1;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
  position: relative;
}

.perks:hover {
  background-color: #278570;
  color: white;
}

.perk-promo {
  background-color: #278570;
  border-radius: 10px;
  color: white;
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.promo-tag {
  display: inherit;
  margin-bottom: 5px;
}

/*override*/
.btn-success {
  background-color: #50E3C2;
  color: black;
  border-color: transparent;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}

/*override*/
.btn-success:hover {
  background-color:#278570;
  border-color: transparent;
  color: white;
}

.btn-clear {
  background-color: transparent;
  border-color: transparent;
  margin-left: 20px;
  margin-right: 20px;
  color: #50E3C2;
  font-weight: bold;
}

.content {
  margin-top: 20px;
}

.pledge-input {
  border: 1px solid black;
  font-size: 28px;
  font-weight: bold;
  padding: 7px 80px 7px 35px;
  display: inline;
  color: black;
  width: 100%;
  border-radius: 5px;
}

.pledge-input:focus {
  outline: 0;
}

/*override*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-pledge {
  position: relative;
}

.currency-symbol {
  position: absolute;
  top: 3px;
  left: 10px;
  font-weight: bold;
  font-size: 30px;
  color: black;
  line-height: 48px;
}

.currency-label {
  position: absolute;
  top: 3px;
  right: 10px;
  font-weight: bold;
  font-size: 30px;
  color: black;
  line-height: 48px;
}

.perk-selected {
  background-color: #278570;
  color: white;
}

.perk-selected .fa-check-square {
  color: #73E8CE;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
}


.shared-receipt-bg {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ), url("../images/shared-min.png");
  background-size: cover;
  background-position: 50% 17%;
  width:100%;
  height: 100%;
}

.bg-container-image {
  margin-top:0px;
  height: 100%;
}

html, body {
  width:100%;
  height:100%;
}

.text-thanks {
  line-height: 50px;
  margin-bottom: 15px;
}

.share-tag {
  line-height: 35px;
  font-weight: normal;
}

.text-white {
  color: white;
}

.text-pledged {
  font-size: 20px;
}

.share-tools {
  top: 350px;
}

.thanks-heading {
  top: 30px;
}

.social-links {
  font-size: 50px;
}

.fa-facebook-square {
  color: #3B5998;
}

.fa-twitter-square {
  color: #4099FF;
}

.fa-google-plus-square {
  color: #DD4B39;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-google-plus-square:hover {
  opacity: 0.7;
}

.fa-facebook-square:after,
.fa-twitter-square:after,
.fa-google-plus-square:after {
  content: "";
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  display: block;
  position: absolute;
  bottom:4px;
  left:1px;
  z-index: -1;
}
.btn-social{
  background-color: transparent;
  border:none;
}

.pyramid {
  margin-top: 50px;
}

.unknown-donor {
  border-radius: 50%;
  width: 100px;
  height: 100px; 
  background-color: #D8D8D8;
  position: relative;
}

.unknown-donor span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 25px;
}

.second-level {
  margin-top: 30px;
  color: black;
}

.lines {
  margin-top: 20px;
  margin-left: 0.5px;
}

.pledge-info {
  font-weight: 200;
  text-align: center;
  color: white;
  line-height: 30px;
}

.invitation {
  margin-top: 25px;
}

.invitation-action .btn{
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.invitation-action {
  margin-top: 30px;
}

nav.header-transparent {
  position: absolute;
  top: 10px;
  z-index: 10;
  color: white;
  width: 100%;
}

.header-transparent span {
  margin-left: 15px;
}

.img-pyramid {
  padding-bottom: 20px;
}

.first-child {
  position: absolute;
  left: -25px;
}

.second-child {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.third-child {
  position: absolute;
  right: -25px;
}

.shared-cta {
  position: absolute;
  bottom: 20px;
  padding-left: 0px;
}


.pyramid-children {
  height: 75px;
}

@media (max-width: 550px), ( max-height: 750px ){
  .pyramid {
    /*margin-top: 30px;*/
    position: absolute;
    top: 33%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: 0px;
  }

  .text-thanks {
    line-height: 23px;
    font-size: 18px;
  }

  .img-pyramid {
    max-width: 90%;
  }

  .img-circle,
  .first-child div,
  .second-child div,
  .third-child div {
    width: 50px;
    height: 50px;
  }

  .unknown-donor span{
    font-size: 16px;
  }

  .first-child {
    left: 0px;
  }

  .third-child {
    right: 0px;
  }

  .lines {
    margin-top: 5px;
  }

  .img-pyramid {
    padding-bottom: 5px;
  }

  .pledge-info,
  .invitation {
    font-size: 18px;
    line-height: 20px;
  }

  .invitation-action .btn {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .invitation {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .invitation-action {
    margin-top: 20px;
  }

  .shared-cta {
    left: 0px;
  }

  .pyramid-children {
    height: 50px;
  }
  
}
</style>

<nav class="header-transparent">
  <span><img style="width:150px" src="../images/multiplyMeTransparent.png"></span>
</nav>
<div class="container-fluid shared-receipt-bg bg-container-image">
  <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12 text-center text-white thanks-heading">
    <h1 class="text-thanks">{{name}} <span ng-hide="fulfilled">pledged</span><span ng-show="fulfilled">donated</span> {{parent.donation.amount * .01 | currency}} to support the<br>Bhatti Mines School</h1>
  </div>
  <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12 text-center pyramid">
    <div class="col-xs-12">
      <img ng-src="{{parent.image_url}}" class="img-circle">
    </div>
    <div class="col-xs-12 lines" style="
    max-width: 350px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
">
<h3 class="pledge-info impactstat">Impact: {{impact | currency}}</h3>
      <img src="../images/pyramid-arrow.png" class="img-pyramid">
      <div class="pyramid-children">
        <div ng-switch on="!!children[0]" class="first-child">
        <div ng-switch-when="true">
          <img ng-src="{{children[0].image_url}}" class="img-circle">
        </div>
        <div ng-switch-when="false" class="unknown-donor"><span>?</span></div>
      </div>
      <div ng-switch on="!!children[1]" class="second-child" ng-hide="fulfilled">
        <div ng-switch-when="true">
          <img ng-src="{{children[1].image_url}}" class="img-circle">
        </div>
        <div ng-switch-when="false" class="unknown-donor"><span ng-hide="fulfilled">?</span></div>
      </div>
      <div class="second-child" ng-show="fulfilled">
        <div class="unknown-donor"><span>...</span></div>
      </div>
      <div class="third-child">
        <div class="unknown-donor"><span>You?</span></div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 text-center shared-cta">
    <h3 class="pledge-info" ng-hide="fulfilled">3 more pledges within 2 days are still needed <br class="hidden-sm hidden-xs">or this pledge will <em>not</em> be donated</h3>
    <h3 class="pledge-info" ng-show="fulfilled">That donation continues to multiply through generous friends</h3>
    <h3 class="text-white invitation" ng-hide="fulfilled">Will you join {{name}} in this cause?</h3>
    <h3 class="text-white invitation" ng-show="fulfilled">Will you be {{name}}'s friend?</h3>
    <div class="invitation-action">
        <a class="btn btn-primary btn-lg" target="_top" ui-sref="main({refer: donationId})">Learn More</a>
        <a class="btn btn-success btn-lg" target="_top" ui-sref="contribute({refer: donationId})">Yes, I'd like to contribute</a>
    </div>
  </div>
</div>
