<style>
nav.nav-black {
  position: absolute;
  top: 10px;
  z-index: 10;
  color: white;
  width: 100%;
}

.nav-black .btn {
  color: black;
  float: right;
  margin-right: 15px;
}

.nav-black span {
  margin-left: 15px;
}

.signin-container {
  margin-top: 75px;
}

</style>
<nav class="nav-black">
  <span><img style="width:150px" src="../images/multiplymeDark.png"></span>
  <a href="/signin" class="btn btn-default text-right">Return to Campaign</a>
</nav>
<div class="container-fluid signin-container" >
  <div class="col-lg-4 col-lg-offset-4 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12 login-box">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-center" style="padding-bottom: 10px">
          <h2>India Mission Trip</h2>
          <h1 style="margin-top:0px">Donor Login</h1>
        </div>
        <form id="loginForm" name="loginForm" novalidate>
          <div class="form-group">
            <label for="email" class="control-label">Email Address</label>
            <input id="email" name="email" type="email" ng-model='user.email' class="form-control"
                   ng-pattern="/^[\w.%+-]+@[\w.-]+\.[a-zA-Z]{2,6}$/" required>
            <i ng-show="loginForm.email.$error.pattern" class="fa fa-close"></i>
          </div>
          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input id="password" name="password" type="password" ng-model='user.password'
                   ng-minlength="1" class="form-control" required>
            <i ng-show="loginForm.password.$error.minlength" class="fa fa-close"></i>
          </div>
          <div class="login-btn">
            <button type="button" class="btn btn-info btn-action btn-block btn-lg"
            ng-click="login()">
            <span style="font-weight:bold;font-size:16px; padding-top:40px">Sign In</span>
          </button>
          <div class="col-sm-6" style="padding-left:0px;padding-top:10px;">
            <a href="#">Forgot your password?</a>
          </div>
          <div class="col-sm-6 text-right" style="padding-top:10px;padding-right:0px;padding-bottom:10px">
            Need an account?<br>Make a <a href="/contribute">contribution</a>
          </div>
          <hr style="clear:both">
          <button type="button" class="btn btn-primary btn-action btn-block btn-lg"
          ng-click="authenticate('facebook')">
          <span class="fa fa-facebook-square"></span>
          <span style="font-weight:bold;font-size:16px;">Login using Facebook</span>
        </button>
      </div>
    </form>
  </div>

</div>
</div>

</div>
      </div>
    </div>
  </div>
</div>
