<div class="row" ><div class="col-lg-offset-1 no-pad col-lg-10 col-md-12 col-sm-12 flare"></div></div>
<div class="row" >
  <div class="col-lg-offset-1 no-pad col-lg-10 col-sm-12 col-md-12 container padding-bottom">
    <mm-header></mm-header>
    <div class="row col-lg-inset">
      <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <h1>Our Team</h1>
        <p>We started out by winning 1st place at the Ebay/PayPal’s Opportunity Hack hackathon competition benefiting nonprofits and now we are using it to help nonprofits everywhere.</p>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 team-profile">
            <img src="images/clement.jpg">
            <strong>Clement Ho</strong>
            <div>Co-founder</div>
            <a href="https://twitter.com/clemmakesapps" alt="Twitter @ClemMakesApps" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/clemmakesapps" alt="LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-4 col-xs-6 team-profile">
            <img src="images/fraser.jpg">
            <strong>Fraser Mince</strong>
            <div>Co-founder</div>
            <a href="https://twitter.com/fraser_mince" alt="Twitter @Fraser_Mince" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/pub/fraser-mince/32/953/37a" alt="LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-4 col-xs-6  team-profile">
            <img src="images/lehua.png">
            <strong>Lehua Gray</strong>
            <div>Co-founder</div>
            <a href="https://twitter.com/LehuaG" alt="Twitter @LehuaG" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/pub/lehua-gray/66/340/51a" alt="LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<mm-footer></mm-footer>