<header class="stretch-image terms-image">
	<a class="logo" href="#">MultiplyMe</a>
	<a class="btn btn-default btn-signin btn-hollow" href="#" role="button">Sign In</a>
	<h1 class="hero-text black-text">{{config.terms.name}}</h1>
</header>
<div class="container-fluid">
	<div class="col-md-offset-3 col-md-6">
		<h3>{{config.terms.heading1}}</h3>
		<div>{{config.terms.content1}}
		</div>
	</div>
	<div class="col-md-offset-3 col-md-6">
		<h3>{{config.terms.heading2}}</h3>
		<div>{{config.terms.content2}}
		</div>
	</div>
	<div class="col-md-offset-3 col-md-6">
		<h3>{{config.terms.heading3}}</h3>
		<div>{{config.terms.content3}}
		</div>
	</div>
</div>
<footer></footer>
